<div class="footer fixed">
    <div class="pull-right">
        Physical Facilities Management Office
    </div>
    <div>
        <strong>Copyright</strong> Pamantasan ng Lungsod ng Maynila &copy; 2014-2015
    </div>
</div>
