<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item">
            <div class="container">
                <div class="carousel-caption blank">
                    <h2>Physical Facilities Management Office</h2>
                    <p>Management Information System</p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="@Url.Action("Index", "Home")" role="button">LOG IN</a>
                        <a class="caption-link" href="#" role="button">Start your Session.</a>
                    </p>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back two"></div>
        </div>
    </div>
</div>