<div class="row border-bottom">
    <nav class="navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" method="post"  name="cse" id="searchbox_demo" action="https://www.google.com/cse">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>

        @*<form name="cse" id="searchbox_demo" action="https://www.google.com/cse">
            <input type="hidden" name="cref" value="" />
            <input type="hidden" name="ie" value="utf-8" />
            <input type="hidden" name="hl" value="" />
            <input name="q" type="text" size="40" />
            <input type="submit" name="sa" value="Search" />
        </form>
            <script type="text/javascript" src="https%3A%2F%2Fcse.google.com%2Fcse/tools/onthefly?form=searchbox_demo&lang="></script>*@


        </div>
        
        @Html.Partial("_LoginPartial")
    </nav>
</div>